<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluemobi.pro.entity.BorrowInfo">

	<resultMap type="com.bluemobi.pro.entity.BorrowInfo" id="borrowResultMap">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="limit_money" property="money"/>
		<result column="create_date" property="jkTime"/>
		<result column="repay_date" property="lastRepayDate"/>
	</resultMap>
	
	<resultMap type="com.bluemobi.pro.entity.BorrowRepayRecord" id="borrowrrResultMap">
		<id column="id" property="id" />
		<result column="borrow_info_id" property="borrowId" />
		<result column="money" property="amount" />
		<result column="create_date" property="repayTime"/>
	</resultMap>	
	
	<!-- 创建借款记录信息 -->
	<insert id="insertBrrow" parameterType="com.bluemobi.pro.entity.BorrowInfo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			borrow_info
		(
			user_id,
			username,
			id_cartd,
			phone,
			school_name,
			address,
			create_date
		)
		VALUES
		(
			#{userId},
			#{name},
			#{identity},
			#{mobile},
			#{school},
			#{address},
			
			#{createDate}
		)
	</insert>
	
	<!-- 完善借款信息 -->
	<update id="updateBorrow" parameterType="com.bluemobi.pro.entity.BorrowInfo">
		UPDATE 
			borrow_info
		<set>
			<if test="money != null and money != ''">
				limit_money = #{money},
			</if>
			<if test="timeLimite != null and timeLimite != ''">
				max_day = #{timeLimite},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			<if test="lastRepayDate != null and lastRepayDate != ''">
				repay_date = #{lastRepayDate},
			</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<!-- 根据用户ID查询借款信息 -->
	<select id="findBorrowListByUserId" resultMap="borrowResultMap" parameterType="com.bluemobi.pro.entity.BorrowInfo">
		SELECT
			t.id,
			t.user_id,
			t.limit_money,
			t.repay_date,
			t.create_date
		FROM
			borrow_info t
		WHERE
			1 = 1
		<if test="userId != null and userId != ''">
			AND
				t.user_id = #{userId}
		</if>
		<if test="id != null and id != ''">
			AND
				id = #{id}
		</if>
	</select>
	
	<!-- 根据借款ID查询还款记录 -->
	<select id="findBorrowRRListByBid" resultMap="borrowrrResultMap" parameterType="map">
		SELECT
			t.id,
			t.borrow_info_id,
			t.money,
			t.create_date
		FROM
			repay_record t
		WHERE
			t.borrow_info_id = #{id}
	</select>
	
	<!-- 删除还款信息 -->
	<delete id="deleteBorrow" parameterType="int">
		DELETE FROM
			borrow_info
		WHERE
			id = #{_paramater}
	</delete>
	
	<!-- 新增还款记录 -->
	<insert id="insertBorrowRR" parameterType="com.bluemobi.pro.entity.BorrowRepayRecord">
		INSERT INTO
			repay_record
		(
			borrow_info_id,
			money,
			create_date
		)
		VALUES
		(
			#{borrowId},
			#{amount},
			#{createDate}
		)
	</insert>
</mapper> 