<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluemobi.pro.entity.Contants">

	<resultMap type="com.bluemobi.pro.entity.Contants" id="contantsResultMap">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="contants_name" property="name"/>
		<result column="mobile" property="mobile"/>
	</resultMap>
	
	<!-- 新增通讯录人 -->
	<insert id="insert" parameterType="com.bluemobi.pro.entity.Contants">
		INSERT INTO
			contants
		(
			user_id,
			contants_name,
			mobile
		)
		VALUES
		(
			#{userId},
			#{name},
			#{mobile}
		)
	</insert>
	
	<!-- 清除该用户的通讯录联系人 -->
	<delete id="delete" parameterType="com.bluemobi.pro.entity.Contants">
		DELETE
		FROM
			contants
		WHERE
			user_id = #{userId}
	</delete>
	
	<!-- 查询用户是否已经有通讯录记录 -->
	<select id="findByUserId" parameterType="com.bluemobi.pro.entity.Contants" resultType="java.lang.Integer">
		SELECT
			count(t.id)
		FROM
			contants t
		WHERE
			t.user_id = #{userId}
	</select>
</mapper> 