<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluemobi.pro.entity.ProductBorrow">

	<resultMap type="com.bluemobi.pro.entity.ProductBorrow" id="pbResultMap">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="product_id" property="productId" />
		<result column="name" property="name" />
		<result column="image_url" property="pic" />
		<result column="price" property="price" />
		<result column="period" property="period" />
		<result column="stage" property="stage"/>
		<result column="next_date" property="nextDate" />
	</resultMap>
	
	<resultMap type="com.bluemobi.pro.entity.ProductBorrowRepayRecord" id="pbrrResultMap">
		<id column="id" property="id" />
		<result column="money" property="amount"/>
		<result column="create_date" property="createDate" />
	</resultMap>
	
	<!-- 查询本月是否已还过款 -->
	<select id="findIsBorrow" parameterType="com.bluemobi.pro.entity.ProductBorrow" resultType="int">
		SELECT 
			COUNT(*) 
		FROM 
			buy_repay_record t 
		JOIN 
			buy_borrow_info b 
		ON 
			t.`borrow_info_id` = b.`id` 
		WHERE 
			FROM_UNIXTIME(t.`create_date` / 1000) &lt;= b.`next_date`
		AND 
			FROM_UNIXTIME(t.`create_date` / 1000) &gt;= DATE_SUB(FROM_UNIXTIME(t.`create_date` / 1000), INTERVAL 30 DAY);
	</select>
	
	<!-- 创建借款记录信息 -->
	<insert id="insertBrrow" parameterType="com.bluemobi.pro.entity.ProductBorrow" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			buy_borrow_info
		(
			user_id,
			product_id,
			name,
			price,
			image_url,
			stage,
			next_date,
			
			username,
			id_cartd,
			phone,
			school_name,
			address,
			create_date
		)
		VALUES
		(
			#{userId},
			#{productId},
			#{productName},
			#{price,javaType = java.lang.Double},
			#{pic},
			#{stage},
			#{nextDate},
			
			#{name},
			#{identity},
			#{mobile},
			#{school},
			#{address},
			
			#{createDate}
		)
	</insert>
	
	<!-- 根据用户ID查询商品贷款信息 -->
	<select id="findByUserId" parameterType="com.bluemobi.pro.entity.ProductBorrow" resultMap="pbResultMap">
		SELECT
			t.id,
			t.user_id,
			t.product_id,
			t.name,
			t.image_url,
			t.price,
			t.period,
			t.stage,
			t.next_date
		FROM
			buy_borrow_info t
		WHERE
			1 = 1
		<if test="userId != null and userId != ''">
			AND
				t.user_id = #{userId}
		</if>
		<if test="id != null and id != ''">
			AND
				t.id = #{id}
		</if>
	</select>
	
	<!-- 根据贷款ID查询还款记录 -->
	<select id="findRecordByPbId" parameterType="map" resultMap="pbrrResultMap">
		SELECT
			t.id,
			t.money,
			t.create_date
		FROM
			buy_repay_record t
		WHERE
		   1 = 1
		AND
			t.borrow_info_id = #{pdId}
	</select>
	
	<!-- 新增商品贷款信息 -->
	<insert id="insertProductBorrow" parameterType="com.bluemobi.pro.entity.ProductBorrow">
		INSERT INTO
			buy_borrow_info t
		(
			t.user_id,
			t.product_id,
			t.name,
			t.image_url,
			t.price,
			t.period,
			t.next_date
		)
		VALUES
		(
			#{userId},
			#{productId},
			#{name},
			#{pic},
			#{amount},
			#{period},
			#{nextDate}
		)
	</insert>
	
	<!-- 还款 -->
	<update id="update" parameterType="com.bluemobi.pro.entity.ProductBorrow">
		UPDATE
			buy_borrow_info
		<set>
			<if test="nextDate != null and nextDate != '' ">
				next_date = #{nextDate},
			</if>
			<if test="period != null and period != ''">
				period = (period - 1)
			</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<!-- 新增还款记录 -->
	<insert id="insertRecord" parameterType="com.bluemobi.pro.entity.ProductBorrowRepayRecord">
		INSERT INTO	
			buy_repay_record
		(
			borrow_info_id,
			money,
			create_date
		)
		VALUES
		(
		    #{pdId},
			#{amount},
			#{createDate}
		)
	</insert>
	
	<!-- 删除商品贷款信息 -->
	<delete id="delete" parameterType="int">
		DELETE FROM
			buy_borrow_info
		WHERE
			id = #{_paramater}
	</delete>
	
	<!-- 删除商品贷款信息还款记录 -->
	<delete id="deleteRecord" parameterType="int">
		DELETE FROM
			buy_repay_record
		WHERE
			borrow_info_id = #{_paramater}
	</delete>
</mapper> 