<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluemobi.pro.entity.SecondHandProduct">

	<resultMap type="com.bluemobi.pro.entity.SecondHandProduct"
		id="secondHandProductResultMap">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="price" property="price" />
		<association property="user" select="findUser" column="{userId = user_id" />
		<collection property="picList" ofType="com.bluemobi.pro.entity.ProductImage" column="{spid = id}" select="findSPImage" />
	</resultMap>

	<resultMap type="com.bluemobi.pro.entity.ProductImage" id="imageResultMap">
		<id column="id" property="id"/>
		<result column="width" property="width"/>
		<result column="height" property="height"/>
		<result column="image_url" property="image"/>
		<result column="small_url" property="smallUrl"/>
	</resultMap>	

	<resultMap type="com.bluemobi.pro.entity.UserInfo" id="userInfoResultMap">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="name" property="name" />
		<result column="gender" property="gender" />
		<result column="mobile" property="mobile" />
		<result column="id_card" property="identity" />
		<result column="school_name" property="school" />
		<result column="address" property="address" />
		<result column="head_url" property="headPic" />
	</resultMap>

	<resultMap type="com.bluemobi.pro.entity.ProductComment" id="commentResultMap">
		<id column="id" property="id"/>
		<result column="product_id" property="productId"/>
		<result column="from_user_id" property="fromUserId"/>
		<result column="to_user_id" property="toUserId"/> 
		<result column="content" property="content"/>
		<result column="create_date" property="createDate"/>
		<result column="pic" property="pic" typeHandler="com.bluemobi.mybatis.StringIfNull" />
		<association property="fromUser" column="{userId = from_user_id}" select="findUser"/>
		<association property="toUser" column="{userId = to_user_id}" select="findUser" />
	</resultMap>

	<!-- 发布二手商品 -->
	<insert id="insertSHProduct" parameterType="com.bluemobi.pro.entity.SecondHandProduct" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			second_hand
		(
			title,
			content,
			price,
			user_id,
			create_date
		)
		VALUES
		(
			#{title},
			#{content},
			#{price},
			#{userId},
			#{createDate}
		)
	</insert>

	<!-- 保存二手商品图片 -->
	<insert id="insertImage" parameterType="com.bluemobi.pro.entity.ProductImage">
		INSERT INTO
			second_hand_images
		(
			second_hand_id,
			image_url,
			height,
			width,
			small_url,
			create_date
		)
		VALUES
		(
			#{productId},
			#{image},
			#{height},
			#{width},
			#{smallUrl},
			#{createDate}
		)
	</insert>

	<!-- 删除图片 -->
	<delete id="deleteImage" parameterType="java.lang.String">
		DELETE FROM
			second_hand_images 
		WHERE
			id = #{imageId}
	</delete>

	<!-- 更新二手商品信息 -->
	<update id="updateSHProduct" parameterType="com.bluemobi.pro.entity.SecondHandProduct">
		UPDATE
			second_hand
		<set>
			<if test="title != null and title != ''">
				title = #{title},
			</if>
			<if test="content != null and content != ''">
				content = #{content},
			</if>
			<if test="price != null and price != ''">
				price = #{price},
			</if>
			<if test="createDate != null and createDate != ''">
				create_date = #{createDate}
			</if>
		</set>
	</update>

	<!-- 查询二手商品 -->
	<select id="findSecondProduct" parameterType="com.bluemobi.pro.entity.SecondHandProduct"
		resultMap="secondHandProductResultMap">
			
		SELECT
			t.id,
			t.user_id,
			t.title,
			t.content,
			t.price
		FROM
			second_hand t
		WHERE
			1 = 1
		<if test="id != null and id != ''">
			AND
				id = #{id}
		</if>
		<if test="userId != null and userId != ''">
			AND
				user_id = #{userId}
		</if>
		ORDER BY 
			t.id 
		DESC
	</select>
	
	
	<!-- 查询二手商品图片 -->
	<select id="findSPImage" parameterType="map" resultMap="imageResultMap">
		SELECT
			t.id,
			t.width,
			t.height,
			t.image_url,
			t.small_url
		FROM
			second_hand_images t
		WHERE
			t.second_hand_id = #{spid}
	</select>
	
	<!-- 根据用户ID查询用户信息 -->
	<select id="findUser" parameterType="com.bluemobi.pro.entity.UserInfo" resultMap="userInfoResultMap">
		SELECT
			t.id,
			t.user_id,
			t.name,
			t.mobile,
			t.gender,
			t.id_card,
			t.school_name,
			t.address,
			t.head_url
		FROM
			users_info t
		WHERE
	    	user_id = #{userId}
	</select>
	
	<!-- 删除我发布的二手商品 -->
	<delete id="deleteSHProduct" parameterType="com.bluemobi.pro.entity.SecondHandProduct">
		DELETE FROM
			second_hand
		WHERE
			id = #{id}
		AND
			user_id = #{userId}
	</delete>
	
	<!-- 查询二手商品评价 -->
	<select id="findProductComment" parameterType="com.bluemobi.pro.entity.ProductComment" resultMap="commentResultMap">
		SELECT
			t.id,
			t.product_id,
			t.from_user_id,
			t.to_user_id,
			t.content,
			(SELECT i.image_url FROM second_hand_images i WHERE i.second_hand_id = t.product_id LIMIT 1) pic,
			t.create_date
		FROM
			product_comment t
		WHERE
			1 = 1
		<if test="productId != null and productId != ''">
			AND
				t.product_id = #{productId}
		</if>
		<if test="userId != null and userId != ''">
			AND 
				t.to_user_id = #{userId}
		</if>
	</select>
	
	<!-- 新增二手商品评论 -->
	<insert id="insertComment" parameterType="com.bluemobi.pro.entity.ProductComment">
		INSERT INTO
			product_comment
		(
			product_id,
			from_user_id,
			to_user_id,
			content,
			create_date
		)
		VALUES
		(
			#{productId},
			#{fromUserId},
			#{toUserId},
			#{content},
			#{createDate}
		)
	</insert>
	
</mapper> 