<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluemobi.pro.entity.UserLogin">
	  
	<resultMap type="com.bluemobi.pro.entity.UserLogin" id="userLoginResultMap">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
	</resultMap>
	
	<resultMap type="com.bluemobi.pro.entity.Oauth" id="oauthResultMap">
		<id column="id" property="id"/>
		<result column="open_id" property="openId"/>
		<result column="user_id" property="userId"/>
	</resultMap>
	
	<!-- 根据条件查询用户登录信息 -->
	<select id="findOne" parameterType="com.bluemobi.pro.entity.RegisterUser" resultMap="userLoginResultMap" >
		SELECT
			t.id,
			t.username,
			t.password
		FROM
			users_login t
		WHERE
			1 = 1
		<if test="id != null and id != ''">
			AND 
				t.id = #{id}
		</if>
		<if test="mobile != null and mobile != ''">
			AND
				t.username = #{mobile}
		</if>
	</select>
	
	<!-- 查询是否有对应的openID -->
	<select id="findOauthByOpenId" parameterType="java.lang.String" resultMap="oauthResultMap">
		SELECT
			o.user_id, 
			o.open_id
		FROM
			oauth o
		WHERE
			o.open_id = #{openId}
	</select>
	
	<!-- 用户注册 -->
	<insert id="insert" parameterType="com.bluemobi.pro.entity.RegisterUser" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			users_login 
		(
			username,
			password
		)
		VALUES
		(
			#{mobile},
			#{password}
		)
	</insert>
	
	<!-- 修改登录信息密码 -->
	<update id="update" parameterType="com.bluemobi.pro.entity.UserLogin">
		UPDATE
			users_login
		<set>
			<if test="username != null and username != ''">
				username = #{username},
			</if>
			<if test="password != null and password != ''">
				password = #{password}
			</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<!-- 新增第三方信息 -->
	<insert id="insertAuth" parameterType="com.bluemobi.pro.entity.Oauth">
		INSERT INTO
			oauth
		(
			open_id,
			user_id
		)
		VALUES
		(
			#{openId},
			#{userId}
		)
	</insert>
	
	<!-- 第三方绑定手机 -->
	<update id="updateOauth" parameterType="com.bluemobi.pro.entity.Oauth">
		UPDATE
			oauth
		SET
			user_id = #{userId}
		WHERE
			open_id = #{openId}
	</update>
</mapper> 